%hr
%ul.social_links
  %li
    %a{:href => "http://feeds.feedburner.com/TammerSaleh"} RSS
  %li
    %a{:href => "http://twitter.com/tsaleh"} Twitter
  %li
    %a{:href => "https://plus.google.com/u/1/100727765831684926265"} Google+
  %li
    %a{:href => "http://www.linkedin.com/in/tammersaleh"} Linked.in

