%head
  %title Tammer Saleh

  %meta{:content=>"", :name=>"keywords"}
  %meta{:content=>"", :name=>"description"}
  %script{:src=>"/js/code_highlighter/base.js"}
  %script{:src=>"/js/code_highlighter/css.js"}
  %script{:src=>"/js/code_highlighter/html.js"}
  %script{:src=>"/js/code_highlighter/javascript.js"}
  %script{:src=>"/js/code_highlighter/ruby.js"}
  = stylesheet_link_tag 'blueprint/screen', 'screen'
  -# %link{:href=>'http://fonts.googleapis.com/css?family=Oswald', :rel=>'stylesheet', :type=>'text/css'}
  -# %link{:href=>'http://fonts.googleapis.com/css?family=Allerta+Stencil', :rel=>'stylesheet', :type=>'text/css'}
  -# %link{:href=>'http://fonts.googleapis.com/css?family=Just+Another+Hand', :rel=>'stylesheet', :type=>'text/css'}
%body
  .container
    %h1 Tammer Saleh
    ~ yield

