%head
  %title Tammer Saleh

  %meta{:content=>"", :name=>"keywords"}
  %meta{:content=>"", :name=>"description"}
  -# %script{:src=>"js/jquery.js"}
  = stylesheet_link_tag 'blueprint/screen', 'screen'
  -# %link{:href=>'http://fonts.googleapis.com/css?family=Oswald', :rel=>'stylesheet', :type=>'text/css'}
  -# %link{:href=>'http://fonts.googleapis.com/css?family=Allerta+Stencil', :rel=>'stylesheet', :type=>'text/css'}
  -# %link{:href=>'http://fonts.googleapis.com/css?family=Just+Another+Hand', :rel=>'stylesheet', :type=>'text/css'}
%body
  .container
    %h1 Tammer Saleh
    ~ yield

