%h2 
  Editing 
  = @recommendation

= render :partial => 'form', :locals => {:recommendation => @recommendation}

= link_to 'Destroy', @recommendation, :confirm => "Are you sure you want to remove #{@recommendation}?", :method => :delete 
