@import "compass";
@import "variables";

// https://github.com/thomas-mcdonald/bootstrap-sass
// https://github.com/thomas-mcdonald/bootstrap-sass/tree/3
@import "bootstrap";

// layout
.container {
  #sidebar .social       { @extend .row; }
  // footer                 { @extend .row; }

  // large screen >1200px
  #sidebar               { @extend .col-lg-3; }
  #sidebar .social>*     { @extend .col-lg-3; }

  #page-content          { @extend .col-lg-9; }
  #page-content .article { @extend .col-lg-3; }

  #presentations .about  { @extend .col-md-6; }
  #presentations .video  { @extend .col-md-6; }

  // Medium screen 992px - 1200px
  #sidebar               { @extend .col-md-3; }
  #sidebar .social>*     { @extend .col-md-3; }

  #page-content          { @extend .col-md-9; }
  #page-content .article { @extend .col-md-4; }

  #presentations .about  { @extend .col-md-6; }
  #presentations .video  { @extend .col-md-6; }

  // Small screen 768px - 991px
  #sidebar               { @extend .col-sm-4; }
  #sidebar .social>*     { @extend .col-sm-3; }

  #page-content          { @extend .col-sm-8; }
  #page-content .article { @extend .col-sm-6; }

  #presentations .about  { @extend .col-md-6; }
  #presentations .video  { @extend .col-md-6; }

  // Extra Small screen < 768px
  #sidebar #about_me { @extend .hidden-xs; }
}

// style
.container {
  padding-top: 20px;
}

#sidebar {
  #tammersaleh {
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  color: $text-muted;
  .bigtext {
    div:first-child { margin-top: -0.3em; }
    div             { margin-top: -0.5em; }
    font-family: "tablet-gothic-narrow", "Tablet Gothic Narrow", sans-serif;
    display: block;
    text-transform: uppercase;
    font-weight: 200;
    width: 100%;
  }
  .social>* { 
    font-size: 2em;
    text-align: center;
    color: $gray-light;
    @include single_transition(all, 0.25s, ease);
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  p {
    @extend small;
    text-align: justify;
    img {
      border-top: 1px solid $gray-light;
      border-bottom: 1px solid $gray-light;
    }
  }
  blockquote {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.wf-loading { h1, h2, h3, h4, h5, h6 { visibility: hidden;  } }
.wf-active  { h1, h2, h3, h4, h5, h6 { visibility: visible; } }

.article_index {
  .article {
    margin-bottom: 20px;
    a {
      display: block;
      height: 15em;
      position: relative;

      &:hover .background {  
        @include filter(grayscale(0%));
        @include opacity(1.0);
      }
      .background {
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;

        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        @include single_transition(all, 0.5s, ease);
        @include filter(grayscale(100%));
        @include filter(brightness(120%));
        @include opacity(0.8);
      }
      h4 {
        color: black;
        z-index: 10;
        background: rgba(255, 255, 255, 0.6);
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

article {
  .title { margin-top: 0; }
  .reading_time { 
    @extend .text-muted;
    margin-bottom: 1em; 
  }
  .metadata { @extend .text-muted; }
}

#presentations {
  .header { 
    @extend .text-center;
  }

  .presentation {
    @extend .row;
    padding-top: 1em;
    padding-bottom: 1em;
    .about {
      @extend .text-right;
      .venue { @extend .text-muted; }
      .year  { @extend .text-muted; }
    }
  }
}

#four_oh_four {
  img {
    padding-top: 2em;
  }
}

.img_left, .img_right {
  clear: both;
  max-width: percentage((6 / $grid-columns));
  @media (max-width: $screen-sm-max) {
    width: 100%;
    max-width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.img_left {
  float: left;
  padding-right: $grid-gutter-width;
}

.img_right {
  float: right;
  padding-left: $grid-gutter-width;
}

.clear {
  clear: both;
}

blockquote {
  clear: left;
  cite {
    float: right;
    font-style: italic;
    font-size: 75%;
    padding-top: 0.5em;
  }
}

footer {
  @extend .text-muted;
  text-align: right;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "tablet-gothic-narrow", "Tablet Gothic Narrow", sans-serif;
  font-style: normal;
  code { text-transform: none; }
}

h1, h2, h3 { font-weight: 300; }
h4, h5, h6 { font-weight: 700; }

