//
// Main Stylesheet
//

@import "compass";
@import "variables";

// https://github.com/thomas-mcdonald/bootstrap-sass
// https://github.com/thomas-mcdonald/bootstrap-sass/tree/3
@import "bootstrap";

// layout
.container {
  #sidebar               { @extend .col-lg-3; }
  #page-content          { @extend .col-lg-9; }
  #page-content .article { @extend .col-lg-4; }

  #sidebar               { @extend .col-sm-4; }
  #page-content          { @extend .col-sm-8; }
  #page-content .article { @extend .col-sm-6; }

  #sidebar               { @extend .col-xs-1; }
  #page-content          { @extend .col-xs-1; }
  #page-content .article { @extend .col-xs-1; }

  #sidebar               { @extend .col-6; }
  #page-content          { @extend .col-6; }
  #page-content .article { @extend .col-12; }

  #page-content .article { border: 1px solid gray; }
}

// style
.container {
  padding-top: 20px;
  #sidebar {
    #tammersaleh {
      font-family: "tablet-gothic-narrow",sans-serif;
      display: block;
      text-transform: uppercase;
      font-weight: 200;
      width: 100%;
      div:first-child { margin-top: -0.3em; }
      div { margin-top: -0.5em; }
      .skill { color: $text-muted; }
    }
    p {
      @extend .text-muted;
      @extend small;
      text-align: justify;
      img {
        border-top: 1px solid $gray-light;
        border-bottom: 1px solid $gray-light;
      }
    }
  }
}

.article_index {
  .article {
    margin-bottom: 20px;
    a {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      height: 250px;
      h3 {
        background: rgba(255, 255, 255, 0.6);
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.img_left {
  clear: both;
  float: left;
  padding-right: $grid-gutter-width;
  max-width: percentage((6 / $grid-columns));
}

.img_right {
  clear: both;
  float: right;
  padding-left: $grid-gutter-width;
  max-width: percentage((6 / $grid-columns));
}

blockquote {
  clear: left;
}

footer {
  @extend .text-muted;
  @extend .credit;
  clear: both;
  margin-top: 3em;
  text-align: right;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "tablet-gothic-narrow",sans-serif;
  font-style: normal;
  code { text-transform: none; }
}

h1, h2, h3 { font-weight: 300; }
h4, h5, h6 { font-weight: 700; }

