%meta{:content=>"", :name=>"keywords"}
%meta{:content=>"", :name=>"description"}
%script{:src=>"/js/code_highlighter/base.js"}
%script{:src=>"/js/code_highlighter/css.js"}
%script{:src=>"/js/code_highlighter/html.js"}
%script{:src=>"/js/code_highlighter/javascript.js"}
%script{:src=>"/js/code_highlighter/ruby.js"}
%link{:href=>"/css/code.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
%link{:href=>"/css/screen.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
%link{:href=>'http://fonts.googleapis.com/css?family=Open Sans', :rel=>'stylesheet', :type=>'text/css'}
%link{:href=>'http://fonts.googleapis.com/css?family=Rokkitt', :rel=>'stylesheet', :type=>'text/css'}
