.about_me
  %img.avatar{:src => "/static_images/me.jpg"}

  %h6 
    I run the 
    %a{:href=>"http://engineyard.com"} Engine Yard
    cloud platform.

  I also teach teams about building successful Ruby on Rails
  applications, and I was the original author of 
  %a{:href=>"https://github.com/thoughtbot/shoulda"} Shoulda
  and Hoptoad (now 
  = link_to("Airbrake", "http://airbrakeapp.com") + ")."

.book
  %hr.space
  %a.image{:href => "http://railsantipatterns.com"} 
    %img{:src => "/static_images/rails_antipatterns.jpg"}
  %h6 
    %a.title{:href => "http://railsantipatterns.com"} 
      .main Rails AntiPatterns:  
      .sub Best Practice Ruby on Rails Refactoring
  .summary
    5 stars on
    %a{:href => "http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"} 
      Amazon!
    Read the
    = link_to("phenomenal feedback from the community", "http://railsantipatterns.com") + "!"

.recommendations

