.about_me
  %img.avatar{:src => "/static_images/me.jpg"}

  %h6 
    I run the 
    %a{:href=>"http://engineyard.com"} Engine Yard
    cloud platform.

  I also teach teams about building successful Ruby on Rails
  applications, and I was the author of 
  %a{:href=>"DEAD"} Shoulda
  and 
  %a{:href=>"DEAD"} HopToad.

.book
  %hr.space
  %a.image{:href => "http://railsantipatterns.com"} 
    %img{:src => "/static_images/rails_antipatterns.jpg"}
  %h6 
    %a.title{:href => "http://railsantipatterns.com"} 
      .main Rails AntiPatterns:  
      .sub Best Practice Ruby on Rails Refactoring
  .summary
    5 star rating on 
    %a{:href => "DEAD"} 
      Amazon!
    %a{:href => "DEAD"} 
      Read the phenomenal feedback from the Ruby on Rails community!

.recommendations

