- full_posts = 5
- posts.first(full_posts).each do |post|
  %h2.post_title= link_to(post.meta[:title], post.url)
  ~ render_page(post)
  %hr
%ul
  - posts[full_posts..-1].each do |post|
    %li.short_post
      %h3= link_to(post.meta[:title], post.url)

