%a#tammersaleh{href: "/"}
  .name Tammer 
  .name Saleh
#about_me
  .skills
    .skill Developer
    .skill Speaker
    .skill Trainer
    .skill Author
  %p
    = image_tag "tammersaleh.jpg"
  %p
    I've worked with Cloud Foundry, Founded Thunderbolt Labs, acted as
    VP of Engineering at Engine Yard, and was the original author of
    Shoulda and Airbrake. I also co-authored 
    %em Rails AntiPatterns: Best Practice Ruby on Rails Refactoring
  %p
    I'm currently seeking positions in the European Union.

