%a#tammersaleh{href: "/"}
  .name Tammer 
  .name Saleh
#about_me
  .skills
    .skill Developer
    .skill Speaker
    .skill Trainer
    .skill Author
  %p
    = image_tag "tammersaleh.jpg"
  %p
    Engineer turned consultant. I specialize in leading teams and building the
    scaffolding that keeps clouds afloat.
  %p
    I've worked with Cloud Foundry, Founded Thunderbolt Labs, ran Engineering at Engine Yard, and was the original author of
    Shoulda and Airbrake. I also co-authored 
    %a{href: "http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"}
      Rails AntiPatterns: Best Practice Ruby on Rails Refactoring
  %p 
    I'm currently consulting and seeking positions in the European Union and UK.
  %hr
  .social
    %a{href: "mailto:me@tammersaleh.com"}
      %h6 
        %small Email
    %a{href: "https://twitter.com/tsaleh"}
      %h6 
        %small Twitter
    %a{href: "https://github.com/tsaleh"}
      %h6 
        %small GitHub
    %a{href: "http://feeds.feedburner.com/TammerSaleh"}
      %h6 
        %small RSS
