#about_me
  .header
    %a#tammersaleh{href: "/"}
      .name Tammer 
      .name Saleh
  .skills
    %a.skill{href: "https://github.com/tsaleh"}
      %div Developer
    %a.skill{href: "/speaking/"}
      %div Speaker
    %a.skill{href: "http://www.amazon.com/author/tammersaleh"}
      %div Author
  %p.avatar
    = image_tag "tammersaleh.jpg"
  .bio
    %p
      %strong
        I specialize in leading teams and building the
        scaffolding that keeps clouds afloat.
    %p
      I've Founded Thunderbolt Labs, run Product and Engineering at Engine Yard,
      and wrote Shoulda and Airbrake. I also co-authored 
      %a{href: "http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"}
        Rails AntiPatterns: Best Practice Ruby on Rails Refactoring,
      and ran the systems that detect earthquakes across Southern California.
    %p
      I'm currently working with Pivotal on the Cloud Foundry platform in London.
    %p 
      Feel free to 
      %a{href: "mailto:me@tammersaleh.com"} email me with comments and questions.
    %hr
    .social
      %a{href: "https://twitter.com/tammersaleh"}
        %i.icon-twitter
      %a{href: "https://github.com/tsaleh"}
        %i.icon-github
      %a{href: "http://www.linkedin.com/in/tammersaleh"}
        %i.icon-linkedin
      %a{href: "http://feeds.feedburner.com/TammerSaleh"}
        %i.icon-rss
    %hr
    %blockquote#kind_words
      .quote
      %cite
