= wrap_layout :layout do
  %article
    %h2.title
      = current_page.data.title
    ~ yield
    %h4.metadata
      %hr
      %small
        This post was written
        = time_ago_in_words(current_page.data.date)
        ago, which makes it almost certainly out of date.
        %a{href: github_edit_url}
          Feel free to submit corrections via github.
