.home
  #goggles
    background: url(/images/goggle-banner.jpg)
    height: 268px
    h2
      font-size: 2.5em
      margin: 20px 0px 20px 20px
    p
      margin: 10px 
      padding: 10px 
      width: 50%
      font-size: 1.2em
      color: white
      background: rgba(0, 0, 0, 0.5)
    a
      color: inherit
      border-bottom: 1px solid
    a:hover
      color: yellow
      
  #recent-posts, #recent-accolades
    padding-bottom: 15px
    h3 
      padding-top: 20px
      a:hover
        background: yellow
      a
        color: inherit
    .more
      text-align: right
    a.recent-post, a.recent-accolade
      color: white
      background-color: black
      .title
        color: inherit
        font-size: 1em
        height: 70px
        padding: 5px 15px
      .date
        margin: 5px
        text-align: right
    a.recent-post:hover, a.recent-accolade:hover
      color: yellow
