.home
  #goggles
    background: url(/images/goggle-banner.jpg)
    height: 268px
    h2
      font-size: 2.5em
      margin: 20px 0px 20px 20px
    p
      margin: 10px 
      padding: 10px 
      width: 50%
      font-size: 1.2em
      color: white
      background: rgba(0, 0, 0, 0.5)
    a
      color: inherit
      border-bottom: 1px solid
    a:hover
      color: yellow
      
  #recent-posts
    h3 
      padding-top: 20px
      a:hover
        background: yellow
      a
        color: inherit
    .more
      text-align: right
    a.recent-post
      color: white
      .title
        color: inherit
        background-color: black
        font-size: 1em
        height: 100px
        padding: 5px 15px
    a.recent-post:hover
      color: yellow
