body.home
  #goggles
    :background url(/images/goggle-banner.jpg)
    :height 268px
    h2
      :font-size 2.5em
      :margin 20px 0px 20px 20px
    p
      :margin 10px 
      :padding 10px 
      :width 50%
      :font-size 1.2em
      :color white
      :background rgba(0, 0, 0, 0.5)
    a
      :color inherit
      :border-bottom 1px solid
    a:hover
      :color yellow

  a#random-recommendation
    :color black
    :color black
    :text-decoration none

    blockquote
      :color black
      :font-size 1.2em
      :margin 0.5em
      // :height 4em
      :overflow hidden
      :background inherit
      :font-family ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif
    .citation
      :color = !secondary_color
      :text-align right
      :margin-right 0.5em
      :font-size .6em
      :font-family Helvetica
      :font-weight bold
      *
        :color inherit
    &:hover
      :background yellow
      
  #recent-posts, #recent-accolades
    :margin-top 40px
    :padding-bottom 15px
    h3 
      :padding 5px 0px
      &:hover
        :background yellow
      a:hover
        :background yellow
      a
        :color inherit
    .more
      :text-align right
    a.recent-post, a.recent-accolade
      :margin-bottom 15px
      :color white
      :background-color black
      .title
        :color inherit
        :font-size 1.2em
        :height 70px
        :padding 5px 15px
      .date
        :margin 5px
        :text-align right
        :font-weight bold
    a.recent-post:hover, a.recent-accolade:hover
      :color yellow
      .date
        :color #888888
