body.pages-show
  .more-info
    :padding 5px
    :margin-bottom 30px
  blockquote
    :background url(/images/quote.png) no-repeat
    :background-position 0px 5px
    :padding 10px 0 0 10px
    :margin 1em 4em 1em 2em
    :color = !primary_color
    :font-size 1em
    .citation
      :font-size .8em
      :font-family Helvetica
  strong
    :color #444
  h2, h3, h4, h5
    :color #444
    *
      :color #444
    :font-weight bolder
  .engage
    a
      :margin 5px 0
      :padding 0 5px
      :text-align center
      :font-size 1.5em
      :font-weight bold
      :display block
      :background yellow
      :color #444
      &:hover
        :color black
  .packages
    a
      :color inherit
      :border-bottom 1px solid black
      &:hover
        +highlight
    .package
      // total width is 950px
      :width 300px
      :margin 0 25px 0 0
      :float left
      h3
        :text-align center
        :border-bottom 5px solid
        :padding 5px
    .package.last
      :margin-right 0

  .badges
    a
      :float right
  .contact
    p
      :font-size 1.3em
      :font-weight bold
      :padding 10px
      :background yellow
      :color #444
    a
      :color black
      &:hover
        :color black
        :border-bottom 3px solid #666 
    

body.pages-show-zivity-contract
  #banner, #footer
    :display none
  h2
    :border-top 5px solid gray
  h3
    :margin-left 40px
    :border-top 1px solid gray
  h4
    :margin-left 80px
  p, table, ul, ol
    :margin-left 100px
  table
    :border-left 10px solid gray
    :width 700px
    th,td
      :vertical-align bottom
    th
      :width 20em
  table.signature
    th
      :width 5em
    tr:last-child td
      :border-bottom 1px solid black
  .address
    :padding-left 120px


