/*
Sass::SyntaxError: Undefined mixin 'rounded'.
on line 9 of /Users/tsaleh/code/tsaleh-tammer-saleh/public/stylesheets/sass/code.sass

5:   :padding 1em
6:   :margin-bottom 1em
7:   /* conflicts with the curvy corners thing
8:   :overflow auto 
9:   +rounded
10:   code
11:     :color white
12:     :margin 0
13:     :padding 0
14:     *
15:       :border none


Backtrace:
/Users/tsaleh/code/tsaleh-tammer-saleh/public/stylesheets/sass/code.sass:9
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/mixin_node.rb:27:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:158:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:202:in `map'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:193:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/rule_node.rb:159:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:181:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:158:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:202:in `map'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:193:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:181:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:158:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/tree/node.rb:103:in `render'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/plugin.rb:96:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/plugin.rb:77:in `each'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/plugin.rb:77:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/plugin.rb:75:in `each'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/plugin.rb:75:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/plugin.rb:62:in `check_for_updates'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/lib/sass/plugin/rails.rb:18:in `process'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.4/lib/action_controller/base.rb:391:in `process'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.4/lib/action_controller/base.rb:386:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.4/lib/action_controller/routing/route_set.rb:437:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:87:in `dispatch'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:121:in `_call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:130:in `build_middleware_stack'
/Library/Ruby/Gems/1.8/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:29:in `call'
/Library/Ruby/Gems/1.8/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:29:in `call'
/Library/Ruby/Gems/1.8/gems/activerecord-2.3.4/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
/Library/Ruby/Gems/1.8/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:9:in `cache'
/Library/Ruby/Gems/1.8/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:28:in `call'
/Library/Ruby/Gems/1.8/gems/activerecord-2.3.4/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/vendor/rack-1.0.0-git/lib/rack/head.rb:9:in `call'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/vendor/rack-1.0.0-git/lib/rack/methodoverride.rb:24:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.4/lib/action_controller/params_parser.rb:15:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.4/lib/action_controller/session/cookie_store.rb:93:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.4/lib/action_controller/failsafe.rb:26:in `call'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/vendor/rack-1.0.0-git/lib/rack/lock.rb:11:in `call'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/vendor/rack-1.0.0-git/lib/rack/lock.rb:11:in `synchronize'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/vendor/rack-1.0.0-git/lib/rack/lock.rb:11:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:114:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.4/lib/action_controller/reloader.rb:34:in `run'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:108:in `call'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/rack/request_handler.rb:91:in `process_request'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/abstract_request_handler.rb:206:in `main_loop'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/railz/application_spawner.rb:376:in `start_request_handler'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/railz/application_spawner.rb:334:in `handle_spawn_application'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/utils.rb:182:in `safe_fork'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/railz/application_spawner.rb:332:in `handle_spawn_application'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/abstract_server.rb:351:in `__send__'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/abstract_server.rb:351:in `main_loop'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/abstract_server.rb:195:in `start_synchronously'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/abstract_server.rb:162:in `start'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/railz/application_spawner.rb:213:in `start'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/spawn_manager.rb:261:in `spawn_rails_application'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/abstract_server_collection.rb:126:in `lookup_or_add'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/spawn_manager.rb:255:in `spawn_rails_application'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/abstract_server_collection.rb:80:in `synchronize'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/abstract_server_collection.rb:79:in `synchronize'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/spawn_manager.rb:254:in `spawn_rails_application'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/spawn_manager.rb:153:in `spawn_application'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/spawn_manager.rb:286:in `handle_spawn_application'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/abstract_server.rb:351:in `__send__'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/abstract_server.rb:351:in `main_loop'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/lib/phusion_passenger/abstract_server.rb:195:in `start_synchronously'
/Library/Ruby/Gems/1.8/gems/passenger-2.2.4/bin/passenger-spawn-server:61
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined mixin 'rounded'.\A on line 9 of /Users/tsaleh/code/tsaleh-tammer-saleh/public/stylesheets/sass/code.sass\A \A 5:   :padding 1em\A 6:   :margin-bottom 1em\A 7:   /* conflicts with the curvy corners thing\A 8:   :overflow auto \A 9:   +rounded\A 10:   code\A 11:     :color white\A 12:     :margin 0\A 13:     :padding 0\A 14:     *\A 15:       :border none\A "; }
