form .buttons {
  float: right;
  padding-bottom: 1em; }
form textarea {
  margin: 0.5em 0.5em 0.5em 0;
  width: 98%;
  height: 400px;
  border: 3px solid #cccccc; }
form input.text {
  margin: 0.5em 0.5em 0.5em 0; }
