- div_for(page, :class => (page.published? ? "published" : "unpublished")) do
  %h2.title
    = link page
  .meta
    - unless page.published?
      .unpublished
        unpublished |
    = admin_links_for page
  .description
    ~ page_format page.description
  .body
    ~ page_format page.body

