%h2 About Me

%p
  I'm an experienced developer living in San Francisco, and working as an
  independent Agile and Ruby on Rails consultant.  

%p
  I wrote the 
  %a{:href => "http://thoughtbot.com/projects/shoulda"} Shoulda
  testing framework, which at last count was in use by about 15% of the Ruby
  community.   I was also the primary developer and project manager for
  Thoughtbot's fantastic 
  %a{:href => "http://hoptoadapp.com"} Hoptoad service, 
  and am currently co-authoring Addison Wesley's 
  %a{:href => "http://my.safaribooksonline.com/9780321620293"} Rails AntiPatterns
  with 
  %a{:href => "http://thoughtbot.com/about/people#cpytel."} Chad Pytel


%p
  I've also 
  %a{:href => "/speaking"} spoken extensively
  at various Ruby and Rails conferences.

%p
  In previous lives I've done AI programming for the NCSA and the University of
  Illinois, and systems administration  for Citysearch.com and Caltech’s
  Earthquake Detection Network.

#accolades

  %h2 Recommendations

  = render :partial => Recommendation.all

%h2 Contact

%p
  You can get in touch with me by 
  %a{:href => "mailto:tsaleh@gmail.com"} emailing me, 
  or by calling me at (626) 841-0708.

