- @page_title = "A bit about me."

%h2
  &hellip;is an experienced Agile and Ruby on Rails consultant.

%h3
  A bit about me:

%p
  I wrote the 
  %a{:href => "http://thoughtbot.com/projects/shoulda"} Shoulda
  testing framework, was the primary developer and project manager for
  Thoughtbot's fantastic 
  %a{:href => "http://hoptoadapp.com"} Hoptoad service, 
  and am currently co-authoring Addison Wesley's 
  %a{:href => "http://my.safaribooksonline.com/9780321620293"} Rails AntiPatterns
  with 
  %a{:href => "http://thoughtbot.com/about/people#cpytel."} Chad Pytel.
  I've also 
  %a{:href => "/speaking"} spoken extensively
  at various Ruby and Rails conferences.

%p
  In previous lives I've done AI programming for the NCSA and the University of
  Illinois, as well as systems administration for Citysearch.com and Caltech’s
  Earthquake Detection Network.

%p.highlighted-block
  I'm 
  = link_to "open to new projects.", hire_url
  Feel free to
  %a{:href => "mailto:tsaleh@gmail.com"} email 
  %br
  or call me at 
  %strong
    (626) 841-0708,
  and we can discuss your needs.

#accolades

  -# %h2 Recommendations

  - Recommendation.all.in_groups_of(2) do |recommendations|
    .column.span-24.last
      .column.span-12.recommendation
        = render :partial => recommendations.first
      .column.span-12.last.recommendation
        = render :partial => recommendations.last

