- @page_title = "A bit about me."

.column.span-24.last
  %h2
    Tammer Saleh (that's me)&hellip;

  .column.span-18.arrogant
    %ul
      %li
        &hellip;is the Director of Engineering at 
        %a{:href => "http://engineyard.com"} Engine Yard.
      %li
        &hellip;is co-authoring Addison Wesley's 
        %a{:href => "http://my.safaribooksonline.com/9780321620293"} Rails AntiPatterns
        with 
        %a{:href => "http://thoughtbot.com/about/people#cpytel."} Chad Pytel.
      %li 
        &hellip;ran an Agile Ruby development consultancy.
      %li 
        &hellip;wrote the 
        %a{:href => "http://thoughtbot.com/projects/shoulda"} Shoulda
        testing framework.
      %li 
        &hellip;was the primary developer and project manager for Thoughtbot's fantastic 
        %a{:href => "http://hoptoadapp.com"} Hoptoad service.
      %li 
        &hellip;has
        %a{:href => "/speaking"} spoken extensively
        at various Ruby and Rails conferences.
      %li &hellip;wrote AI software for the NCSA and the University of Illinois.
      %li &hellip;wrangled servers at Citysearch.com.
      %li &hellip;wrangled earthquakes at Caltech.
  .column.span-6.last.contact
    %p
      Need to get ahold of me?  Feel free to
      %a{:href => "mailto:tsaleh@gmail.com"} email 
      or call me at 
      = phone_number_link("(626) 841-0708,")

#accolades

  %h2 People really like me!

  - Recommendation.all.in_groups_of(2) do |recommendations|
    .column.span-24.last
      .column.span-12.recommendation
        = render :partial => recommendations.first
      .column.span-12.last.recommendation
        = render :partial => recommendations.last

