%h2 About Me

%p
  I'm an experienced developer living in San Francisco, and working as an
  independent Agile and Ruby on Rails consultant.  

%p
  I wrote the 
  %a{:href => "http://thoughtbot.com/projects/shoulda"} Shoulda
  testing framework, which at last count was in use by about 15% of the Ruby
  community.   I was also the primary developer and project manager for
  Thoughtbot's fantastic 
  %a{:href => "http://hoptoadapp.com"} Hoptoad service, 
  and am currently co-authoring Addison Wesley's 
  %a{:href => "http://my.safaribooksonline.com/9780321620293"} Rails AntiPatterns
  with 
  %a{:href => "http://thoughtbot.com/about/people#cpytel."} Chad Pytel


%p
  I've also 
  %a{:href => "/speaking"} spoken extensively
  at various Ruby and Rails conferences.

%p
  In previous lives I've done AI programming for the NCSA and the University of
  Illinois, and systems administration  for Citysearch.com and Caltech’s
  Earthquake Detection Network.

#accolades

  %h2 Recommendations

  %blockquote
    Great to work with, intelligent feedback, exceptional quality. 
    .citation 
      %a{:href => "http://www.workingwithrails.com/person/7298-matt-todd"} Matt Todd
      of 
      %a{:href => "http://highgroove.com/"} Highgroove Studios
      via 
      %a{:href => "http://www.workingwithrails.com/recommendation/for/person/7844-tammer-saleh"} WWR

  %blockquote
    Tammer is a top-notch developer, project manager, scotch afficionado, and all-around awesome dude. 
    .citation
      %a{:href => "http://www.workingwithrails.com/person/2371"} Jason Morrison
      of 
      %a{:href => "http://thoughtbot.com"} Thoughtbot
      via 
      %a{:href => "http://www.workingwithrails.com/recommendation/for/person/7844-tammer-saleh"} WWR

  %blockquote
    Tammer has the extreme attention to detail and right kind of obsession with
    quality that most people have to lie about on their resumes. As someone you
    can learn from everyday, he is both a pleasure and an asset to have as a
    colleague. 
    .citation
      %a{:href => "http://www.linkedin.com/profile?viewProfile=&key=7315120"} Floyd Wright
      via 
      %a{:href => "http://www.linkedin.com/profile?viewProfile=&key=6604740#recommendations"} LinkedIn

  %blockquote
    Tammer has a seemingly relentless passion for excellent software practices,
    and an exacting eye for both others' work and his own. He comes packed with
    energy and focus, and is constantly looking for ways to improve himself.
    I've benefited directly from Tammer's assistance and advice, and will make
    sure I continue to do so. 
    .citation
      %a{:href => "http://www.mill-industries.com/"} Eric Mill
      of 
      %a{:href => "http://sunlightlabs.com/"} Sunlight Labs
      via 
      %a{:href => "http://www.linkedin.com/profile?viewProfile=&key=6604740#recommendations"} LinkedIn

  %blockquote
    Tammer was the guy at Caltech who could cut through the BS and get stuff
    done. He was very knowledgeable in the sys admin domain and kept the network
    together and improved it during his tenure at Caltech and left a legacy
    roadmap that was followed after he left. 
    .citation
      %a{:href => "http://www.linkedin.com/pub/6/a88/835"} Paul Friberg, 
      owner of 
      %a{:href => "http://www.isti.com/about"} ISTI
      via 
      %a{:href => "http://www.linkedin.com/profile?viewProfile=&key=6604740#recommendations"} LinkedIn

  %blockquote
    Tammer was a great guy to work with. He was the brains behind Carbon Rally
    and other cool projects at Thoughtbot. 
    .citation
      %a{:href => "http://www.linkedin.com/pub/6/5b2/6a9"} Jason Martinez
      of 
      %a{:href => "http://www.elctech.com/"} ELC Technologies
      via 
      %a{:href => "http://www.linkedin.com/profile?viewProfile=&key=6604740#recommendations"} LinkedIn

  %blockquote
    A great and intelligent guy. Clearly an excellent coder. 
    .citation
      %a{:href => "http://www.workingwithrails.com/person/5657-martin-emde"} Martin Emde
      of 
      %a{:href => "http://en.wikipedia.org/wiki/Naughty_America"} Naughty America
      via 
      %a{:href => "http://www.workingwithrails.com/recommendation/for/person/7844-tammer-saleh"} WWR

  %blockquote
    Tammer is awesome. I shoulda tried shoulda a long time ago. (I bet you've never heard that before ;) 
    .citation
      %a{:href => "http://www.workingwithrails.com/person/6290-steven-a-bristol"} Steven A Bristol, 
      owner of 
      %a{:href => "http://lesseverything.com/"} Less Everything
      via 
      %a{:href => "http://www.workingwithrails.com/recommendation/for/person/7844-tammer-saleh"} WWR

  %blockquote
    Quality guy and talented to boot. 
    .citation
      %a{:href => "http://www.workingwithrails.com/person/9803-jim-remsik"} Jim Remsik
      of 
      %a{:href => "http://hashrocket.com"} Hashrocket
      via 
      %a{:href => "http://www.workingwithrails.com/recommendation/for/person/7844-tammer-saleh"} WWR

  %blockquote
    Tammer has the mind and drive for writing disciplined, high-quality Ruby code. 
    .citation
      %a{:href => "http://www.workingwithrails.com/person/1991-dan-croak"} Dan Croak
      of 
      %a{:href => "http://thoughtbot.com"} Thoughtbot
      via 
      %a{:href => "http://www.workingwithrails.com/recommendation/for/person/7844-tammer-saleh"} WWR

  %p
    &hellip;and, of course&hellip;

  %blockquote
    You're the werewolf! 
    .citation
      %a{:href => "http://www.workingwithrails.com/person/5421-ezra-zygmuntowicz"} Ezra Zygmuntowicz, 
      founder of 
      %a{:href => "http://engineyard.com/"} Engine Yard
      via 
      %a{:href => "http://www.workingwithrails.com/recommendation/for/person/7844-tammer-saleh"} WWR

%h2 Resume

%p
  While I don't maintain a formal resume, my 
  %a{:href => "http://www.linkedin.com/in/tammersaleh"} LinkedIn profile
  is fairly complete and up to date.

%h2 Contact

%p
  You can get in touch with me by emailing me at 
  %a{:href => "mailto:tsaleh@gmail.com"} tsaleh@gmail.com, 
  or by calling me at (626) 841-0708.

