-# %h2 
-#   You want to hire me.
-# 
%h3 Agility and experience.

%p
  %strong
    I bring rock solid development expertise alongside
    insightful business advice and experience to your startup.

%p
  Once you engage with me, I come in as a virtual CTO.  I develop and launch
  your application, advise on business decisions, and assist in hiring and
  training your team.  I'll keep you focused on your launch goals, and help you
  build a strong team for the future.

%p
  I believe in Agile methodologies, transparency, and keeping the client
  focused on business value.  I practice test driven development in weekly
  iterations, with constant client communication.

%h4
  Feel free to 
  = link_to("read more about me", about_url) + ", "
  watch my 
  = link_to("various presentations", speaking_url) + ", "
  or see what 
  = link_to("people have to say", about_url(:anchor => "accolades"))
  about my services.

%h3 Engage with me.

%p
  My rates start at $200 an hour.

  While my availability is limited at the moment, I'd be glad to hear about
  your project.  

%p
  Either 
  %strong
    %a{:href => "mailto:tsaleh@gmail.com"} send me an email, 
  or give me a call at 
  %strong
    (626) 841-0708,
  and we can discuss your needs.

