%h2 You want to hire me.

%p
  %strong
    When you engage with me, you gain rock solid development expertise alongside
    insightful business advice and experience.

%h3 Agility and experience.

%p
  As a Ruby on Rails consultant and developer, I specialize in launching
  startups, keeping them focused on their launch goals, and helping them build
  strong teams for the future.

%p
  I believe in Agile methodologies, transparency, and keeping the client
  focused on business value.  I practice test driven development, in weekly
  iterations, with constant client communication.

%h3 Get in touch.

%p
  While my availability is limited at the moment, I'd be glad to hear about
  your project.  Either 
  %a{:href => "mailto:tsaleh@gmail.com"} send me an email, 
  or give me a call at (626) 841-0708.

%h3 Want more?

%p
  You can read more 
  = link_to("about me", about_url) + ", "
  review my past 
  = link_to("speaking engagements", speaking_url) + ", "
  and see what 
  = link_to("people have to say", about_url(:anchor => "accolades"))
  about my services throughout this site.
