%h1 Terms of Service Agreement By and Between Tammer Saleh Consulting, Inc. and Zivity, LLC

%h2 Recitals

%h3 Company

%p
  Tammer Saleh Consulting (hereinafter Company) is a California S Corporation
  which has been duly filed with the Secretary of State of California.  Its
  principal address is located at 660 Greenwich St. San Francisco CA 94133.
  Company is engaged in the business of providing Ruby on Rails programming
  services (Services).

%h3 Client  

%p
  Zivity is a Limited Liability Company duly registered with California whose
  principal California offices are located in 329 Bryant St., Suite 2d, San
  Francisco CA 94107.  Company’s principal executive contact shall be Cyan
  Banister.  Whereas, Client desires to retain the services of Company, and
  Company desires to provide such services; and 

%p
  Whereas, the parties desire to enter into a Consulting Contract setting forth
  the terms and conditions of their agreement and their understandings:

%p
  Now, therefore, in consideration of the mutual covenants, promises, and
  agreements herein contained and for other good and valuable considerations,
  the receipt and sufficiency of which are hereby acknowledged, the parties,
  intending to be legally bound hereby, agree as follows:  

%h3 Services  

%p
  Company agrees to provide Client the Services listed in the Schedule of Work
  attached to this Agreement as Schedule A.  The Schedule of Work shall be
  defined at the sole discretion of Company.  

%h4 Cancellation of Contract  

%p 
  Client shall provide Company with a retainer amount equal as listed in the
  Schedule of Payment.  Client and Company both have the right to cancel this
  Agreement with 
  %strong
    a minimum 14 days notice to the other party.  

%p
  Should Client cancel this Agreement prior to 14 days, Client is still
  obligated to pay Company the Client Minimum Services Guarantee as listed in
  the Schedule of Work.  

%h4  Rate of Payment for Services  

%p
  Client agrees to pay Company for Services as defined in Attachment B,
  Schedule of Payment.  

%h3 Invoicing  

%p
  Company shall invoice Client, at Client's address as set forth in the
  Schedule of Payment for the Services rendered, and Client shall pay the
  amount set forth on such invoices to Company as set forth in the Schedule of
  Payment. 

%h3 Delinquency

%p
  Payments not received by Company within five (5) business days of the due
  date are considered Delinquent.  Delinquent payments are subject to 15%
  interest per anum  compounded daily as well as any costs listed in this
  Agreement under “Costs”.  

%h3 Intellectual Property, Use of Work Product

%p
  Except as specifically set forth in writing and signed by both Client and
  Company, Company shall have all copyright and patent rights with respect to
  all materials developed in the course of performing the Services under this
  Agreement, and Client is hereby granted a non exclusive license to use and
  employ such materials within the Client's business.   Such intellectual
  property includes but is not limited to inventions, deliverables, materials,
  information, inventions, designs, works of authorship, original non-Open
  Source computer program code, audiovisual works, trademarks, database code,
  graphics, characters, music, sounds and other expressions or items
  accumulated, authored, made, conceived, developed or first reduced to
  practice by in his performance of this Agreement.  

%h3 Defaults and Indemnification

%h4 Events of Default

%p
  The occurrence of any of the following, if not cured within fifteen (15) (or
  such other amount of time as may be specifically provided for elsewhere in
  this Agreement) business days of notice of such breach, shall constitute a
  default and breach of this Agreement by Client:

%ol
  %li Failure to Pay.  If Client fails to make Payment or any amounts due hereunder as and when due.

%h4 Costs

%p
  Client shall reimburse and compensate Company upon demand, as Additional
  Costs, for any actual pecuniary loss incurred by Company in connection with,
  resulting from or related to any breach or default of Client under this
  Agreement, whether or not suit is commenced or judgment entered. Such loss
  shall include all reasonable legal fees, costs and expenses incurred in the
  negotiation, settlement or enforcement of rights or remedies of Company or
  necessary to protect Company’s interest under this Agreement in a bankruptcy
  case or proceeding under Title II of the United States Code, as amended. 

%h4 Indemnification

%p
  Client will indemnify and hold harmless Company and its officers, employees,
  agents, representatives, members and affiliates (each being an "Indemnified
  Party") from and against any and all losses, costs (including but not limited
  to reasonable attorneys’ fees and expenses), claims, damages and liabilities
  (the "Liabilities") to which such Indemnified Party may become subject under
  any applicable law, or any claim made by any third party, or otherwise, to
  the extent they relate to or arise out of the performance of the Services
  contemplated by this Agreement or the engagement of Company pursuant to, and
  the performance by Company of the Services contemplated by, this Agreement. 

%h4 No Waiver

%p
  No failure by Company to insist upon the performance of any of the terms of
  this Agreement or to exercise any right or remedy consequent upon a breach
  thereof, and no acceptance by Company of full or partial payment from Client
  or any third party during the continuance of any such breach, shall
  constitute a waiver of any such breach or of any of the terms of this
  Agreement.  The terms of this Agreement may only be altered in writing signed
  by both Client and Company.  No waiver of any default of Client herein shall
  be implied from any omission by Company to take any action on account of such
  default. One or more waivers by Company shall not be construed as a waiver of
  a subsequent breach of the same covenant, term or condition. No statement on
  a payment check from Client or in a letter accompanying a payment check shall
  be binding on Company. Company may, with or without notice to Client,
  negotiate such check without being bound to the conditions of such statement.

%h4 Waiver by Client

%p
  Client hereby waives all claims resulting from Company’s re-taking or refusal
  to deliver the work product due to Client’s breach and will save Company
  harmless from all losses, costs or damages occasioned thereby.   

%h3 Taxes

%p
  Any and all taxes, except income taxes, imposed or assessed by reason of this
  Agreement or its performance, including but not limited to sales or use
  taxes, shall be paid by the Client.    

%h3 Limited warranty liability  

%p
  Company warrants to Client that the material, analysis, data programs and
  services to be delivered or rendered hereunder, will be of the kind and
  quality designated and will be performed by qualified personnel.  Special
  requirements for format or standards to be followed shall be detailed in the
  schedule of work and executed by both Client and Company.  Company makes no
  other warranties, whether written, oral or implied, including without
  limitation, warranty of fitness for a particular purpose or merchantability.
  In no event shall Company be liable for special or consequential damages,
  including, but not limited to, loss of profits, revenue, data, or use by
  Client or any third party, regardless of whether a claim or action is
  asserted in contract or tort, whether or not the possibility of such damages
  has been disclosed to Company in advance or could have been reasonably
  foreseen by Company, and in the event this limitation of damages is held
  unenforceable then the parties agree that by reason of the difficulty in
  foreseeing possible damages all liability to Client shall be limited to one
  hundred dollars ($100.00) as liquidated damages and not as a penalty.  

%h3  Miscellaneous Provisions

%h4 Notices

%p
  All notices which are required or permitted hereunder must be in writing and
  shall be deemed to have been given, delivered or made, as the case may be
  (notwithstanding lack of actual receipt by the addressee) (i) when delivered
  by personal delivery or (ii) three (3) business days after having been
  deposited in the United States Mail, certified or registered, return receipt
  requested, sufficient postage affixed and prepaid, or (iii) one (1) business
  day after having been deposited with an expedited overnight courier service
  (such as by way of example, but not limitation, Federal Express or UPS),
  addressed to the party to whom notice is intended to be given at the address
  set forth here: 

%p
  Notices to Company shall be delivered to:
  .address
    Tammer Saleh
    %br
    660 Greenwich St. 
    %br
    San Francisco CA 94133

%p
  Notices to Client shall be delivered to:
  .address
    Zivity, LLC
    %br
    329 Bryant St.
    %br
    Suite 2d
    %br
    San Francisco CA 94107

%h4 Successors

%p
  The covenants and agreements herein contained shall bind and inure to the
  benefit of Company, its successors and assigns, and Client and its permitted
  successors and assigns.

%h4 Captions and Interpretation

%p
  The captions of the Articles and Sections of this Agreement are to assist the
  parties in reading this Agreement and are not a part of the terms or
  provisions of this Agreement. Whenever required by the context of this
  Agreement, the singular shall include the plural and the plural shall include
  the singular. The masculine, feminine and neuter genders shall each include
  the other. In any provision relating to the conduct, acts or omissions of
  Client, the term “Client” shall include Client’s agents, employees,
  contractors, invitees, successors or others using the Premises with Client’s
  expressed or implied permission.

%h4 Relationship of Parties

%p
  This Agreement does not create the relationship of principal and agent, or of
  partnership, venture, or of any association or relationship between Company
  and Client, or between Company and any Third Party.  The sole relationship
  between Company and Client being that of Company and Client.  There is no
  relationship or privity of contract between Company and any Third Party.  

%h4 Entire Agreement

%p
  Any exhibits, addenda and schedules attached hereto shall be incorporated
  herein as though fully set forth herein (the “Exhibits”). All preliminary and
  contemporaneous negotiations are merged into and incorporated in this
  Agreement. This Agreement together with the Exhibits contains the entire
  agreement between the parties. No subsequent alteration, amendment, change or
  addition to this Agreement shall be binding upon Company or Client unless
  reduced to writing and signed by the party to be charged with their
  performance.

%h4 Severability

%p
  If any covenant, condition, provision, term or agreement of this Agreement
  shall, to any extent, be held invalid or unenforceable, the remaining
  covenants, conditions, provisions, terms and agreements of this Agreement
  shall not be affected thereby, but each covenant, condition, provision, term
  or agreement of this Agreement shall be valid and in force to the extent
  permitted by Law.

%h4 Company’s Limited Liability

%p
  Client agrees to look solely to Company for recovery of any judgment from
  Company, it being agreed that Company (and if Company is a corporation, its
  directors, officers or shareholders) shall never be personally liable for any
  personal judgment or deficiency decree or judgment against it, nor shall
  Client be entitled to reach any of the general corporate assets of Company,
  or its parent corporation or its affiliated corporations for satisfaction of
  any such judgment.

%h4 Survival

%p
  All obligations (together with interest on money obligations at the Maximum
  Rate of Interest) accruing prior to expiration of the Term shall survive the
  expiration or other termination of this Agreement.

%h4 Attorneys’ Fees

%p
  In the event of any litigation or judicial action (including but not limited
  to judicial arbitration and or mediation) in connection with this Agreement
  or the enforcement thereof or the enforcement of any indemnity obligation
  hereunder, the prevailing party in any such litigation or judicial action
  shall be entitled to recover all costs and expenses of any such judicial
  action or litigation (including, but not limited to, reasonable attorneys’
  fees, costs and expenditures and fees) from the other party, whether incurred
  before, during or after trial, including appeals, as well as bankruptcy
  actions.

%h4 Governing Law

%p
  This Agreement shall be governed by the laws of California. All covenants,
  conditions and agreements of Client arising hereunder shall be performable in
  San Francisco County. Any suit or action arising from or relating to this
  Agreement shall be brought in San Francisco County, and the parties hereto
  waive the right to be sued elsewhere.

%h4 Time is of the Essence

%p
  Time is of the essence with respect to the performance of every provision of
  this Agreement in which time of performance is a factor.

%h4 Joint and Several Liability

%p
  All parties signing this Agreement as Client shall be jointly and severally
  liable for all obligations of Client.

%h4 Provisions are Covenants and Conditions

%p
  All provisions, whether covenants or conditions, shall be deemed to be both
  covenants and conditions.

%h4 No Construction Against Drafting Party

%p
  Company and Client acknowledge that each of them and their respective counsel
  have had an opportunity to review this Agreement and that this Agreement will
  not be construed against Company merely because Company has prepared it.

%h4 Client Points of Contact

%p
  The Client’s Point(s) of Contact as defined in Schedule A, the Schedule of
  Work shall represent the Client during the performance of this Agreement with
  respect to the Services and deliverables as defined herein and has authority
  to execute written modifications or additions to this Agreement as defined in
  this Agreement.   Any instructions or requests from Client to Company must go
  through the Client Representative to avoid conflicts.  

%h4 Dispute Settlement

%p
  Any dispute whose value is under $7500 (or whatever the maximum claim allowed
  in Small Claims Court in the State of California) will be handled in Small
  Claims Court within the City of San Francisco California.   Any other
  dispute, claim or controversy arising out of or relating to this Agreement,
  jurisdiction or the breach, termination, enforcement, interpretation or
  validity thereof, including the determination of the scope or applicability
  of this agreement to arbitrate, shall be determined by arbitration in,
  California before one arbitrator and conducted in English. At the option of
  the first to commence an arbitration, the arbitration shall be administered
  either by JAMS pursuant to its Streamlined Arbitration Rules and Procedures,
  or by an alternate provider to be chosen by the Company pursuant to Client’s
  reasonable approval.   Judgment on the Award may be entered in any court
  having jurisdiction. This clause shall not preclude parties from seeking
  provisional remedies in aid of arbitration from a court of appropriate
  jurisdiction.   Allocation of Fees and Costs: The arbitrator may, in the
  Award, allocate all or part of the costs of the arbitration, including the
  fees of the arbitrator and the reasonable attorneys’ fees of the prevailing
  party.   Prior to arbitration the Parties may mutually elect to attend
  mediation.  

%h4 Jurisdiction

%p
  Client hereby acknowledges that all claims related to this Agreement shall be
  litigated, mediated, or arbitrated exclusively within the jurisdiction of the
  State of California, City and County of San Francisco.   

%h2 Signatures

%p 
  In witness whereof, the parties hereto have signed this Agreement as of the
  date first above written. 
  %strong This contract contains a binding arbitration provision which may be enforced by the parties. 

%table.signature
  %tr
    %th Client
    %td Zivity, LLC
  %tr
    %th Name
    %td Cyan Banister 
  %tr
    %th Title 
    %td Founder
  %tr
    %th Date 
    %td= Date.today.to_s(:long)
  %tr
    %th Signature 
    %td{:style => "height: 3em"}

%table.signature
  %tr
    %th Company
    %td Tammer Saleh Consulting, Inc.
  %tr
    %th Name
    %td Tammer Saleh
  %tr
    %th Title 
    %td Founder
  %tr
    %th Date 
    %td= Date.today.to_s(:long)
  %tr
    %th Signature 
    %td{:style => "height: 4em"}
      %img{:src => "http://s3.amazonaws.com/tammer_saleh/production/images/45-large.jpg"}

%h2 Schedule A - Schedule of Work

%h3 Client Minimum Services Guarantee  

%p
  Client guarantees to utilize and pay Company for a minimum of 20 hours of
  Services per week.  Company may at its own discretion provide fewer hours of
  Services to Client in which case 
  %strong
    Client is not obligated to compensate Company for the hours of Services not performed.  
 
%h2 Schedule B – Schedule of Payment

%h3 Billable Rate:  

%p 
  Client shall pay company at a rate of 
  %strong USD $175 per hour. 

%h3 Retainer

%p 
  Client shall pay company a one time retainer fee of
  %strong USD $7,000,
  as specified under Cancellation of Contract.  This retainer is to be applied
  toward the final 40 hours of development upon normal cancelation of the
  contract.

%p 
  Client shall make payments either by check or wire transfer to Tammer Saleh
  Consulting, Inc. in the following account:

%table
  %tr
    %th Name of financial instutution:
    %td Wells Fargo
  %tr
    %th Account name:
    %td Tammer Saleh Consulting, Inc.
  %tr
    %th Account number:
    %td 121000248
  %tr
    %th Bank routing number:
    %td 9347085459

%p 
  Company will invoice Client every 
  %strong 14 days 
  and Client will pay Company the amount invoiced in full 
  %strong within 7 days 
  of the receipt of said invoice.  

%p 
  All Invoices shall be delivered to Client Point of Contact at the following
  address:  
  .address
    Zivity, LLC
    %br
    329 Bryant St.
    %br
    Suite 2d
    %br
    San Francisco CA 94107

