// @import "blueprint/reset";
@import "blueprint";
@import "blueprint/fancy-type";
@import "blueprint/scaffolding";
@import "compass/reset";
@import "compass/utilities/lists/inline-list";

@include blueprint;
@include blueprint-typography;

@import "bourbon/bourbon";

// http://kuler.adobe.com/#themeID/1440313
$color_1: rgb(0, 88, 95);
$color_2: rgb(0, 147, 147);
$color_3: rgb(255, 252, 196);
$color_4: rgb(240, 237, 187);
$color_5: rgb(255, 56, 0);

$serif-fonts: Baskerville, Rokkitt, serif;
$sans-serif-fonts: "Open Sans";

$blueprint-grid-columns: 12;
$blueprint-container-size: 950px;
$blueprint-grid-margin: ceil($blueprint-container-size / $blueprint-grid-columns / 4);
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;
$blueprint-font-family: $sans-serif-fonts;
// $blueprint-font-family: 'Rokkitt';
$blueprint-font-size: 14px;

$font-color: #333333;
$quiet-color: lighten($font-color, 20%);
$loud-color: darken($font-color, 13.33%);
$header-color: darken($font-color, 6.67%);
$alt-text-color: #666666;
$blueprint-background-color: $color_3;
$blueprint-border-color: $font-color;

$link-color:         $color_1;
$link-hover-color:   #09f;
$link-focus-color:   $link-hover-color;
$link-active-color:  lighten(adjust-hue($link-color, 75deg), 10%);
$link-visited-color: $link-color;

$sidebar-columns: 4; 
$content-columns: $blueprint-grid-columns - $sidebar-columns - 1; 
$last: true;

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-interaction;
  background-color: $blueprint-background-color;
}

#{headers(all)} {
  font-family: $serif-fonts;
  text-shadow: 0px 1px 0px lighten($font-color, 50%);
}

blockquote {
  font-size: 1.2em;
  background: $color_4;
  font-family: $serif-fonts;
  text-shadow: 0px 1px 0px lighten($font-color, 50%);
  padding-left: 10px;
  margin-left: 20px !important;
  color: $font-color;
}

form { @include blueprint-form; }

a { text-decoration: none !important; }

p code { }

pre {
  background: $color_4;
  padding-left: 10px;
  margin-left: 20px !important;
}

hr { @include colruler($blueprint-border-color); };
hr.space { @include colspacer; };

#container { 
  @include container; 
  // @include showgrid;
}

#header, #footer { 
  font-size: 150%;
  @include column($blueprint-grid-columns); 
}

#header {
  #{headers(all)} { display: inline; }
}

.float-left {
  float: left;
  padding-right: 20px;
}

.float-right {
  float: right;
  padding-left: 20px;
}

#sidebar {
  img { width: 40%; }

  .about_me {
    .avatar {
      float: left;
      padding-right: 10px;
    }
  }

  @include column($sidebar-columns, $last); 
  .book {
    img {
      float: right;
      padding-left: 10px;
    }
    .title { 
      * { display: inline; }
      .main { font-weight: bold; }
    }
  }
}

#content {
  @include column($content-columns); 
  @include colborder;
  text-align: justify;
} 

#footer {
  font-size: 0.7em;
  ul.social_links {
    @include inline-list;
  }
}

h1 { clear:both}
