// @import "blueprint/reset";
@import "blueprint";
@import "blueprint/fancy-type";
@import "blueprint/scaffolding";
@import "compass/reset";
@import "compass/typography/lists/inline-list";

@include blueprint;
@include blueprint-typography;

@import "bourbon/bourbon";

// http://kuler.adobe.com/#themeID/1440313
$darkest_color:   rgb(0, 88, 95);
$dark_color:      rgb(0, 147, 147);
$lightest_color:  #e7e5c9;
$light_color:     rgb(240, 237, 187);
$attention_color: rgb(255, 56, 0);

$serif-fonts: Baskerville, Rokkitt, serif;
$sans-serif-fonts: "Open Sans";

$radius: 5px;
$last: true;

$blueprint-grid-columns: 12;
$blueprint-container-size: 950px;
$blueprint-grid-margin: ceil($blueprint-container-size / $blueprint-grid-columns / 4);
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;
$blueprint-font-family: $sans-serif-fonts;
$blueprint-font-size: 14px;

$font-color: $light_color;
$quiet-color: lighten($font-color, 20%);
$loud-color: darken($font-color, 13.33%);
$header-color: darken($font-color, 6.67%);
$alt-text-color: #666666;
$blueprint-background-color: $darkest_color;
$blueprint-border-color: $dark_color;

$link-color:         $attention_color;
$link-hover-color:   #09f;
$link-focus-color:   $link-hover-color;
$link-active-color:  lighten(adjust-hue($link-color, 75deg), 10%);
$link-visited-color: $link-color;

$sidebar-columns: 4; 
$content-columns: $blueprint-grid-columns - $sidebar-columns; 

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-interaction;
  background-color: $blueprint-background-color;

  iframe {
    width: 100%;
    margin: 0 auto;
  }

  h1, h2, h3 {
    font-family: $serif-fonts;
    color: $lightest_color;
    // text-shadow: 0px 1px 0px lighten($attention_color, 50%);
  }

  img {
    @include border-radius($radius);
  }

  blockquote {
    @include border-radius($radius);
    font-size: 1.5em;
    background: $dark_color;
    font-family: $serif-fonts;
    // text-shadow: 0px 1px 0px lighten($font-color, 50%);
    padding: 5px 10px 0 10px;
    margin: 1em 0;
    color: $font-color;
  }

  form { @include blueprint-form; }

  a, a:visited { 
    text-decoration: none !important; 
    border-bottom: 1px dotted;
    color: inherit !important;
    &:hover {
      background: rgba(0, 0, 0, 0.15);
      @include box-shadow(0 0 5px 5px rgba(0, 0, 0, 0.15));
    }
  }

  pre {
    overflow: hidden;
    // @include border-radius($radius);
    @include box-shadow(inset 0 0 5px 5px $darkest_color);
    background: white;
    padding: 10px;
    // margin-left: 20px !important;
    &:hover {
      overflow: visible;
    }
  }

  hr { @include colruler($blueprint-border-color); };
  hr.space { @include colspacer; };

  #container { 
    @include container; 
    // @include showgrid;
  }

  #header, #footer { 
    font-size: 150%;
    @include column($blueprint-grid-columns); 
  }

  #header {
    margin-top: 30px;
    * { color: $lightest_color; }

    #{headers(all)} { display: inline; }

    a, a:visited { border: none; }

    .tagline {
      margin-left: 0.5em;
    }
  }

  a.fork_me {
    display: block;
    font-size: 1.3em;
    width: 300px;
    @include border-radius($radius);
    clear: both;
    text-align: center;
    background: $light_color;
    color: $darkest_color;
    padding: 5px;
    margin: 10px auto;
    color: $dark_color !important;
    border: none;
    &:hover {
      background: $light_color;
      color: $darkest_color !important;
      @include box-shadow(0 0 5px 5px rgba(0, 0, 0, 0.15));
    }
  }

  .float-left {
    float: left;
    margin-right: 20px;
  }

  .float-right {
    float: right;
    margin-left: 20px;
  }

  #sidebar {
    img { width: 40%; }

    .about_me {
      .avatar {
        float: left;
        margin-right: 10px;
      }
    }

    @include column($sidebar-columns, $last); 
    .book {
      img {
        @include border-radius(0);
        float: right;
        margin-left: 10px;
      }
      .title { 
        * { display: inline; }
        .main { font-weight: bold; }
      }
      .amazon {font-weight: bold; }
    }
  }

  #content {
    @include column($content-columns - 1); 
    @include colborder;
  } 

  #footer {
    font-size: 0.7em;
    ul.social_links {
      @include inline-list;
    }
  }
}

