// @import "blueprint/reset";
@import "blueprint";
@import "blueprint/fancy-type";
@import "blueprint/scaffolding";
@import "compass/reset";
@import "compass/typography/lists/inline-list";

@include blueprint;
@include blueprint-typography;

@import "bourbon/bourbon";

$serif-fonts: Baskerville;
$sans-serif-fonts: Helvetica;

$radius: 5px;
$last: true;

$blueprint-grid-columns: 12;
$blueprint-container-size: 950px;
$blueprint-grid-margin: ceil($blueprint-container-size / $blueprint-grid-columns / 4);
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;
$blueprint-font-family: $sans-serif-fonts;
$blueprint-font-size: 16px;

$font-color:             #444444;
$quiet-color:            lighten($font-color, 20%);
$loud-color:             black;
$header-color:           $quiet-color;
$alt-text-color:         $quiet-color;
$blueprint-border-color: $quiet-color;

$link-color:         #400080;
$link-hover-color:   darken($link-color, 20%);
$link-focus-color:   darken($link-color, 20%);
$link-active-color:  lighten($link-color, 20%);
$link-visited-color: $link-color;

$sidebar-columns: 4; 
$content-columns: $blueprint-grid-columns - $sidebar-columns - 1;  

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-interaction;
  background: url(/static_images/tan.jpg);

  // For youtube videos
  iframe {
    width: 100%;
    margin: 0 auto;
  }

  img {
    padding: 3px;
    background: white;
    border: $quiet-color 1px solid;
    // @include box-shadow(0 5px 5px 5px rgba(0, 0, 0, 0.15));
  }

  blockquote {
    margin-left: 30px;
    margin-right: 0;
    font-weight: bold;
    .who { display: inline }
  }

  form { @include blueprint-form; }

  a { 
    color: $link-color;
    text-decoration: none;
    &:hover   { color: $link-hover-color !important; }
    &:visited { color: $link-visited-color !important; }
  }

  pre {
    overflow: auto;
    background: white;
    padding: 10px;
    // &:hover { 
    //   z-index: 100;
    //   position: relative;
    //   width: 600px;
    //   // @include animation-basic(ease-in);
    // }
  }

  hr       { @include colruler($blueprint-border-color); };
  hr.space { @include colspacer; };

  h1, h2, h3, h4, h5, h6 { 
    font-family: $serif-fonts;
    color: $header-color; 
    a { 
      text-decoration: none; 
      color: $header-color !important;
    }
  }

  .float-left {
    float: left;
    margin-right: 20px;
  }

  .float-right {
    float: right;
    margin-left: 20px;
  }

  .fork_me {
    font-size: 1.3em;
    display: block;
    clear: both;
    text-align: center;
  }

  #container { 
    @include container; 
  }

  #footer { 
    @include column($blueprint-grid-columns); 
  }

  #sidebar {
    @include column($sidebar-columns); 

    margin-top: 30px;

    #header {
      // @include column($blueprint-grid-columns); 
      font-size: 150%;
    }

    img { width: 40%; }

    .about_me {
      .avatar {
        float: left;
        margin-right: 10px;
      }
    }

    .book {
      img {
        float: right;
        margin-left: 10px;
      }
      .title { 
        * { display: inline; }
        .main { font-weight: bold; }
      }
      .amazon {font-weight: bold; }
    }
  }

  #spacercol {
    @include column(1); 
  }

  #content {
    @include column($content-columns, $last); 
    // @include column($content-columns - 1); 
    // @include colborder;
    margin-top: 30px;
  } 

  #footer {
    ul.social_links {
      @include inline-list;
    }
  }
}

