- page_title "Assets"

= render :partial => 'form', :locals => {:asset => Asset.new}

%hr/

%table{ :width => "100%" }
  %tr
    %th
      File
    %th
      Description
    %th/
  - for asset in @assets
    %tr[asset]
      %td
        = link_to asset, asset.asset.url
      %td
        = asset.description
      %td
        = admin_links_for asset

