- post = headline
- div_for(post, :class => (post.published? ? "published" : "unpublished") + " only_headline") do
  %h2.title
    = link post
  .meta
    - if post.published_at
      .publication_date
        written
        = time_ago_in_words(post.published_at)
        ago
    .comment_count
      = pluralize post.comments_count, "comment"
    = admin_links_for post
  .clear

