.posts
  %h3 
    Unpublished Posts
    = admin_links_for(Post)
  = render :partial => "headline", :collection => @unpublished_posts

#comments
  %h3 
    Recent Comments
  = render :partial => "comments/comment", :collection => @recent_comments

