- page_title @post
= render :partial => @post

#comments
  - if @post.comments.any?
    %h3
      Comments
    = render :partial => @post.comments
  .comment_form
    %h3
      Comments disabled! (Oh noes!)
    %p
      Basically, spammers have made me sad, and I don't have time to fix the captcha :(
