.post .body pre {
  clear: both; }

pre {
  code {
    color: black;
    margin: 0;
    padding: 0;
    * { border: none !important; }
    .symbol            { color: green; }
    .comment           { color: #888888; }
    .brackets          { color: #888888; }
    .constant          { color: black; }
    .constant          { font-weight: bold; }
    .string            { color: blue; }
    .string            { font-style: italic; }
    .keywords          { color: #999999; }
    .instance_variable { color: red; }
    .instance_variable { font-weight: bold; }
    // .selectors, .global, .properties, .tag, .attribute { color: orange; } 
  } 
}
