---
title:     Home
bodyclass: newproject
---

.posts
  - blog.articles[0...5].each do |article|
    %article
      %h1
        %a{:href => article.url}
          = article.title
        %time
          = article.date.strftime('%b %e %Y')

      = article.summary

      %a{ :href => article.url}
        Read more

.moreinfo
  :markdown
    ### For More Info…

    * on the Susy grid system, check out [the official site](http://susy.oddbird.net/).

  =img_holder(:width => 300, :height => 200, :bgcolor => "#0c0", :fgcolor => "#fff", :text => "I'm an image placeholder!")


