---
bodyclass: "frontpage"
---
.article_index
  - blog.articles.each do |article|
    %a.article{href: article.url}
      .img{style: "background-image:url(#{index_article_background_url(article)})"}
      %h4.title= article.title

