---
bodyclass: newproject
---

.article_index
  - blog.articles.in_groups_of(4).each_with_index do |article_group|
    .article_row
      - article_group.each do |article|
        - if article
          .article
            -# %pre
            -#   %code= (article.methods - Object.new.methods).inspect
            %a{href: article.url, style: index_article_background(article)}
              %h3= article.title

