---
bodyclass: newproject
---

.article_index
  - blog.articles.in_groups_of(4).each do |article_group|
    .row
      - article_group.each do |article|
        - if article
          %a.article{:href => article.url}
            .inner
              %h3
                = article.title

