<div id="flickr_badge_uber_wrapper">
  <div id="flickr_badge_wrapper">
    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&display=random&size=s&layout=x&source=user&user=8444576%40N06"></script>
  </div>
</div>

